html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

a {
  text-decoration: none;
  outline: none;
}

a:hover {
  cursor: pointer;
  text-decoration: none;
  outline: none;
}

a:active {
  outline: none;
}

a:visited {
  outline: none;
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

body {
  width: 100%;
  font-size: 14px;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Noto Sans TC' , '微軟正黑體' ,'黑體-繁',  '新細明體', sans-serif;
  -webkit-text-size-adjust: none;
  height: 100%;
}

html {
  width: 100%;
  height: 100%;
}

.btn {
  cursor: pointer;
}
.btn:focus, .btn:active {
  outline: none;
  outline-offset: 0;
  box-shadow: none;
}
.btn:focus:active {
  outline: none;
  outline-offset: 0;
  box-shadow: none;
}

.drag {
  cursor: move;
}

.clear, .clr {
  clear: both;
}

.error {
  color: #E14900;
}

div {
  box-sizing: border-box;
}

.m-r-5 {
  margin-right: 5px !important;
}

.m-r-10 {
  margin-right: 10px !important;
}

.m-l-5 {
  margin-left: 5px !important;
}

.m-b-10 {
  margin-bottom: 10px !important;
}

.m-t-10 {
  margin-top: 10px !important;
}

.l-h-20 {
  line-height: 20px !important;
}

.no-padding {
  padding: 0 !important;
}

.no-btn-style {
  border: none;
  border-radius: 0;
  background-color: transparent;
}

.clearAfter:after {
  clear: both;
  content: "";
  display: table;
}

.site_wrapper {
  width: 100%;
  background-color: #000;
  position: relative;
  padding-top: 100px;
  min-height: 90%;
  background-image: url("../images/main_dark_background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.site_wrapper:after {
  content: "";
  display: block;
}
.site_wrapper.index {
  background-image: none;
}

.page_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 30px;
}

.page_title_area {
  padding: 20px 0;
  letter-spacing: 1px;
  line-height: 20px;
}
.page_title_area .page_title {
  color: #f6ac39;
  font-size: 20px;
  margin-right: 10px;
}
.page_title_area .page_title_en {
  color: #fff;
  font-size: 12px;
}

.page_banner_area {
  position: relative;
}
.page_banner_area .image_block {
  width: 100%;
  padding-top: 25%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.page_banner_area .banner_bt_block {
  width: 100%;
  position: absolute;
  bottom: 20%;
}
.page_banner_area .banner_bt_block .banner_bt {
  position: relative;
  width: 150px;
  margin: 0 auto;
  text-align: center;
  background-color: #f6ac39;
  font-size: 14px;
  border-radius: 5px;
  display: block;
  color: #fff;
  padding: 12px 24px;
}

@media screen and (max-width: 768px) {
  .page_wrapper {
    padding: 0 20px;
  }

  .page_banner_area .image_block {
    padding-top: 50%;
  }
}
.header {
  position: relative;
}
.header .navbar-default.navbar-shrink {
  height: 60px;
}
.header .navbar-default.navbar-shrink .main_menu {
  padding: 4px 0;
}
.header .navbar-default.navbar-shrink .logo_title_block {
  height: auto;
  padding: 6px 0;
}
.header .navbar-default.navbar-shrink .navbar-toggle {
  height: 42px;
}
.header .navbar-default .navbar-toggle {
  border-color: transparent;
  height: 82px;
}
.header .navbar-default .navbar-toggle:hover, .header .navbar-default .navbar-toggle.active, .header .navbar-default .navbar-toggle:focus {
  background-color: transparent;
}
.header .navbar-default .navbar-toggle:hover .fa-bars, .header .navbar-default .navbar-toggle.active .fa-bars, .header .navbar-default .navbar-toggle:focus .fa-bars {
  color: #f6ac39;
}
.header .nav .open > a, .header .nav .open > a:focus, .header .nav .open > a:hover {
  background-color: transparent !important;
  color: #f6ac39;
}
.header .navbar-right {
  margin-right: 0;
}
.header .navi_area {
  height: 100px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2d2b32+0,000000+100 */
  background: #2d2b32;
  /* Old browsers */
  background: -moz-linear-gradient(top, rgba(45, 43, 50, 0.9), rgba(0, 0, 0, 0.9));
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(45, 43, 50, 0.9), rgba(0, 0, 0, 0.9));
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(45, 43, 50, 0.9), rgba(0, 0, 0, 0.9));
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2d2b32', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */
  border-bottom: 2px solid #f8e71c;
}
.header .navi_area .fa-bars {
  color: #fff;
}
.header .navi_area .logo_title_block {
  height: 100px;
  display: flex;
  align-items: center;
  width: 200px;
  justify-content: center;
}
.header .navi_area .logo_title_block .main_title {
  color: #fff;
  line-height: 22.5px;
  letter-spacing: 1px;
}
.header .navi_area .logo_title_block .logo_img {
  margin-right: 15px;
}
.header .menu_wrapper {
  font-size: 12px;
  padding: 0 15px;
}
.header .menu_wrapper .main_menu {
  padding: 25px 0;
}
.header .menu_wrapper .main_menu .menu_item {
  line-height: 100px;
}
.header .menu_wrapper .main_menu .menu_item .navbar-toggle .fa-bars {
  color: #fff;
}
.header .menu_wrapper .main_menu a {
  color: #fff;
  font-size: 12px;
}
.header .menu_wrapper .main_menu a:hover {
  background-color: transparent;
  color: #f6ac39;
}
.header .menu_wrapper .main_menu .dropdown-menu {
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid #505254;
  box-shadow: none;
}
.header .login_block {
  padding-top: 10px;
}
.header .login_block .login_info {
  background-color: rgba(85, 85, 85, 0.8);
  border-left: 5px solid #f6ac39;
  color: #fff;
  padding: 5px 20px;
  font-size: 12px;
  line-height: 15px;
}

@media screen and (max-width: 768px) {
  .header #menu_mobile {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .header .login_block {
    margin: 10px;
    padding: 0;
  }
  .header .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
  }
  .header .navi_area .logo_title_block {
    width: 185px;
  }
}
.news_wrapper {
  margin-bottom: 30px;
  padding: 0 30px;
}
.news_wrapper .news_more {
  color: #fff;
}
.news_wrapper .news_more i {
  color: #f8e71c;
}
.news_wrapper .news_content_area {
  width: 100%;
}
.news_wrapper .news_content_area .news_content_block {
  width: 32.5%;
  float: left;
  margin-right: 1%;
  background-color: #fff;
  letter-spacing: 1px;
  line-height: 20px;
}
.news_wrapper .news_content_area .news_content_block:last-child {
  margin-right: 0;
}
.news_wrapper .news_content_area .news_content_block .news_image_block {
  width: 100%;
  padding-top: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.news_wrapper .news_content_area .news_content_block .news_info_block {
  padding: 20px;
}
.news_wrapper .news_content_area .news_content_block .news_info_date {
  color: #f6ac39;
  margin-bottom: 15px;
  font-size: 12px;
}
.news_wrapper .news_content_area .news_content_block .news_info_title {
  margin-bottom: 15px;
  font-weight: bold;
}
.news_wrapper .news_content_area .news_content_block .news_info_title:after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #f6ac39;
  display: block;
  margin-top: 15px;
}
.news_wrapper .news_content_area .news_content_block .news_info_title .news_info_content_inner {
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.news_wrapper .news_content_area .news_content_block .news_info_content {
  margin-bottom: 20px;
  font-size: 12px;
  height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.news_wrapper .news_content_area .news_content_block .news_more_bt {
  width: 100%;
  display: block;
  background-color: #f6ac39;
  color: #fff;
  text-align: center;
  padding: 5px;
}

.task_wrapper {
  width: 100%;
  background-image: url("/images/dark_background.png");
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px 30px 130px;
}
.task_wrapper .task_title {
  color: #fff;
  text-align: center;
  font-size: 20px;
  line-height: 20px;
  padding: 40px 0;
}
.task_wrapper .task_area .task_block {
  width: 25%;
  padding: 0 20px;
  float: left;
}
.task_wrapper .task_area .task_block .task_image_block {
  width: 140px;
  height: 140px;
  border-radius: 70px;
  border: 5px solid #fff;
  margin: 0 auto;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.task_wrapper .task_area .task_block .task_info_block {
  width: 100%;
  height: 220px;
  margin-top: -65px;
  border-radius: 4px;
  letter-spacing: 1px;
  font-size: 12px;
  text-align: center;
}
.task_wrapper .task_area .task_block .task_info_block.orange {
  background-color: #f6ac39;
}
.task_wrapper .task_area .task_block .task_info_block.red {
  background-color: #fc6e51;
}
.task_wrapper .task_area .task_block .task_info_block.green {
  background-color: #2eb977;
}
.task_wrapper .task_area .task_block .task_info_block.blue {
  background-color: #30abe5;
}
.task_wrapper .task_area .task_block .task_info_block .task_info_content {
  padding: 85px 20px 30px;
  line-height: 20px;
}
.task_wrapper .task_area .task_block .task_info_block .task_info_content .task_info_content_inner {
  height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.task_wrapper .task_area .task_block .task_info_block .task_more_bt {
  margin: 0 5px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2d2b32+0,000000+100 */
  background: #2d2b32;
  /* Old browsers */
  background: -moz-linear-gradient(top, #2d2b32 0%, black 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #2d2b32 0%, black 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #2d2b32 0%, #000000 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2d2b32', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */
  display: block;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
}

@media screen and (max-width: 768px) {
  .news_wrapper {
    padding: 0 20px;
  }
  .news_wrapper .news_content_area .news_content_block {
    width: 100%;
    margin-bottom: 15px;
  }

  .task_wrapper {
    padding: 0 20px;
  }
  .task_wrapper .task_area .task_block {
    width: 50%;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 480px) {
  .task_wrapper .task_area .task_block {
    width: 100%;
  }
}
.slick-prev, .slick-next {
  display: none;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slider_wrapper {
  position: relative;
}
.slider_wrapper .slider_content {
  position: relative;
}
.slider_wrapper .slider_content .image_block {
  width: 100%;
  padding-top: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slider_wrapper .slider_content .slider_block {
  width: 100%;
  position: absolute;
  bottom: 25%;
}
.slider_wrapper .slider_content .slider_block .slider_block_inner {
  position: absolute;
  right: 60px;
  bottom: 0;
}
.slider_wrapper .slider_content .slider_block .slogan_en {
  font-size: 34px;
  color: #fff;
  text-shadow: 0px 0px 15px #666;
  margin-bottom: 20px;
}
.slider_wrapper .slider_content .slider_block .slogan_cn {
  font-size: 18px;
  letter-spacing: 2px;
  margin-bottom: 30px;
}
.slider_wrapper .slider_content .slider_block .more_bt {
  width: 250px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  font-size: 14px;
  background-color: #f6ac39;
  letter-spacing: 5px;
  text-align: center;
  display: block;
}
.slider_wrapper .slick-dots {
  bottom: 10px;
}
.slider_wrapper .slick-dots li button:before {
  color: #fff;
  opacity: 1;
}
.slider_wrapper .slick-dots li.slick-active button:before {
  color: #f6ac39;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .slider_wrapper .slider_content .image_block {
    padding-top: 20rem;
  }
  .slider_wrapper .slider_content .slider_block {
    width: 100%;
    position: absolute;
    bottom: 20%;
  }
  .slider_wrapper .slider_content .slider_block .slider_block_inner {
    width: 300px;
    position: relative;
    margin: 0 auto;
    right: 0;
    text-align: center;
  }
  .slider_wrapper .slider_content .slider_block .slogan_en {
    font-size: 28px;
  }
  .slider_wrapper .slider_content .slider_block .more_bt {
    margin: 0 auto;
  }
}
.login_wrapper .login_area {
  width: 100%;
  margin-bottom: 25px;
}
.login_wrapper .login_area .login_block {
  width: 43%;
  float: left;
  padding: 15px;
  background-color: #fff;
  color: #666;
  margin-right: 2%;
}
.login_wrapper .login_area .login_block.register {
  width: 55%;
  margin-right: 0;
}
.login_wrapper .login_area .login_block .block_title {
  font-size: 16px;
  margin: 20px 0;
}
.login_wrapper .login_area .login_block .control-label {
  padding: 10px 0;
}
.login_wrapper .login_area .login_block .forget_pwd_block {
  padding: 10px 0;
}
.login_wrapper .login_area .login_block .forget_pwd {
  color: #f6ac39;
  font-size: 12px;
}
.login_wrapper .login_area .login_block .login_bt {
  width: 100%;
  background-color: #f6ac39;
  color: #fff;
  text-align: center;
  height: 35px;
  line-height: 25px;
  font-size: 12px;
  padding: 6px;
}
.login_wrapper .login_area .login_block .login_bt.fb {
  background-color: #39579a;
}
.login_wrapper .login_area .login_block .line {
  position: relative;
  text-align: center;
}
.login_wrapper .login_area .login_block .line:before {
  content: "";
  border-top: 1px solid #d5d5d5;
  display: block;
  position: absolute;
  width: 40%;
  top: 10px;
  left: 0;
}
.login_wrapper .login_area .login_block .line:after {
  content: "";
  border-top: 1px solid #d5d5d5;
  display: block;
  position: absolute;
  width: 40%;
  top: 10px;
  right: 0;
}
.login_wrapper .login_area .login_block .pwd_text {
  color: #f6ac39;
  text-align: right;
  font-size: 12px;
  padding-top: 10px;
}
.login_wrapper .login_area .login_block .service_bt {
  font-size: 12px;
  color: #f6ac39;
  line-height: 22px;
}

@media screen and (max-width: 768px) {
  .login_wrapper .login_area .login_block {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .login_wrapper .login_area .login_block.register {
    width: 100%;
  }
  .login_wrapper .login_area .login_block .control-label {
    padding: 15px;
  }
  .login_wrapper .login_area .login_block .forget_pwd_block {
    padding: 15px;
  }
}
.contact_wrapper .contact_area {
  background-color: #fff;
  padding: 30px;
  margin-bottom: 20px;
}
.contact_wrapper .contact_area p {
  letter-spacing: 1px;
  line-height: 20px;
  margin-bottom: 20px;
}
.contact_wrapper .contact_area .contact_block {
  width: 100%;
}
.contact_wrapper .contact_area .contact_block .contact_info {
  width: 40%;
  margin-right: 2%;
  float: left;
  height: 200px;
  justify-content: center;
  display: flex;
  align-items: center;
}
.contact_wrapper .contact_area .contact_block .contact_info .contact_info_list .info_item {
  margin-bottom: 10px;
  line-height: 20px;
}
.contact_wrapper .contact_area .contact_block .contact_map {
  width: 58%;
  float: left;
}
.contact_wrapper .contact_area .contact_block .contact_map .map_block {
  position: relative;
  padding-bottom: 40%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.contact_wrapper .contact_area .contact_block .contact_map .map_block iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.contact_wrapper .contact_area .contact_block .contact_form_area {
  width: 600px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .contact_wrapper .contact_area {
    padding: 20px;
  }
  .contact_wrapper .contact_area .contact_block .contact_info {
    width: 100%;
    margin-right: 0;
    justify-content: inherit;
  }
  .contact_wrapper .contact_area .contact_block .contact_map {
    width: 100%;
  }
}
.about_wrapper .about_area {
  width: 100%;
  margin-bottom: 20px;
  padding: 30px;
  background-color: #fff;
}
.about_wrapper .about_area p {
  letter-spacing: 1px;
  line-height: 20px;
  margin-bottom: 20px;
}
.about_wrapper .about_area img {
  width: 100%;
  margin-bottom: 20px;
}
.about_wrapper .about_area .about_info_list .info_item {
  margin-bottom: 10px;
  line-height: 20px;
}

@media screen and (max-width: 768px) {
  .about_wrapper .about_area {
    padding: 20px;
  }
}
.service_wrapper .service_area {
  background-color: #fff;
  padding: 30px;
  margin-bottom: 20px;
}
.service_wrapper .service_area .service_block {
  position: relative;
  margin-bottom: 20px;
  display: block;
}
.service_wrapper .service_area .service_block .service_img {
  width: 100%;
  padding-top: 85%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.service_wrapper .service_area .service_block .service_title {
  width: 100%;
  padding: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  color: #fff;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  line-height: 20px;
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .service_wrapper .service_area {
    padding: 20px 5px;
  }
}
.members_wrapper .members_area {
  background-color: #fff;
  padding: 30px;
  margin-bottom: 20px;
}
.members_wrapper .members_area .members_block {
  margin-bottom: 20px;
}
.members_wrapper .members_area .members_block .members_block_title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
}
.members_wrapper .members_area .members_block .members_width {
  width: 650px;
  margin: 0 auto;
}
.members_wrapper .members_area .members_block .members_img_block {
  width: 140px;
  height: 140px;
  margin: 0 auto 20px;
  border-radius: 70px;
  border: 1px solid #f6ac39;
  overflow: hidden;
}
.members_wrapper .members_area .members_block .members_img_block .image_circle {
  width: 140px;
  height: 140px;
  background-color: #fff;
  border: 15px solid #fff;
  border-radius: 70px;
  overflow: hidden;
}
.members_wrapper .members_area .members_block .members_img_block .members_image {
  background-color: #ececec;
  padding: 15px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.members_wrapper .members_area .members_block .members_name {
  text-align: center;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .members_wrapper .members_area {
    padding: 20px;
  }
  .members_wrapper .members_area .members_block .members_width {
    width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .members_wrapper .members_area .members_block .members_block_title {
    text-align: center;
  }

  .members_block_width {
    width: 100%;
  }
}
.forget_pwd_wrapper .forget_pwd_area {
  width: 100%;
  margin-bottom: 20px;
  padding: 30px;
  background-color: #fff;
}

@media screen and (max-width: 768px) {
  .forget_pwd_wrapper .forget_pwd_area {
    padding: 20px;
  }
}
.profile_wrapper .profile_area {
  width: 100%;
  margin-bottom: 20px;
  padding: 30px;
  background-color: #fff;
}
.profile_wrapper .profile_area .profile_block .fb_bt {
  width: 200px;
  background-color: #39579a;
  color: #fff;
  text-align: center;
  height: 35px;
  line-height: 25px;
  font-size: 12px;
  padding: 6px;
  margin-right: 15px;
}
.profile_wrapper .profile_area .profile_block .profile_bt {
  background-color: #f6ac39;
  color: #fff;
  font-size: 12px;
}

@media screen and (max-width: 768px) {
  .profile_wrapper .profile_area {
    padding: 20px;
  }
  .profile_wrapper .profile_area .profile_block .control-label {
    padding: 10px;
  }
}
.supplier_wrapper .supplier_area {
  background-color: #fff;
  padding: 30px;
  margin-bottom: 20px;
}
.supplier_wrapper .supplier_area .supplier_block {
  position: relative;
  margin-bottom: 20px;
  display: block;
}
.supplier_wrapper .supplier_area .supplier_block .supplier_img {
  width: 100%;
  padding-top: 85%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.supplier_wrapper .supplier_area .supplier_block .supplier_title {
  width: 100%;
  padding: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  color: #fff;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  line-height: 20px;
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .supplier_wrapper .supplier_area {
    padding: 20px 5px;
  }
}
.apply_information_wrapper .apply_information_area {
  background-color: #fff;
  padding: 30px;
  margin-bottom: 20px;
}
.apply_information_wrapper .apply_information_area .apply_information_block {
  width: 600px;
  margin: 0 auto;
}
.apply_information_wrapper .apply_information_area .apply_information_block .apply_information_text {
  color: #f6ac39;
  text-align: right;
  font-size: 12px;
  padding-top: 10px;
}
.apply_information_wrapper .apply_information_area .apply_information_block .apply_information_bt {
  background-color: #f6ac39;
  color: #fff;
  font-size: 12px;
}

@media screen and (max-width: 768px) {
  .apply_information_wrapper .apply_information_area {
    padding: 20px;
  }
  .apply_information_wrapper .apply_information_area .apply_information_block {
    width: 100%;
  }
  .apply_information_wrapper .apply_information_area .apply_information_block .control-label {
    padding: 10px;
  }
}
.footer {
  width: 100%;
  height: 135px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2d2b32+0,000000+100 */
  background: #2d2b32;
  /* Old browsers */
  background: -moz-linear-gradient(top, #2d2b32 0%, black 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #2d2b32 0%, black 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #2d2b32 0%, #000000 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2d2b32', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 1px;
  text-align: center;
  padding: 5% 15px;
}

@media screen and (max-width: 480px) {
  .footer {
    height: 120px;
  }
}
