.apply_information_wrapper{
	.apply_information_area{
		background-color: #fff;
		padding: 30px;
		margin-bottom: 20px;
		.apply_information_block{
			width: 600px;
			margin: 0 auto;
			.apply_information_text{
				color: $main-orange;
				text-align: right;
			    font-size: 12px;
			    padding-top: 10px;
			}
			.apply_information_bt{
				background-color: $main-orange;
				color: #fff;
				font-size: 12px;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.apply_information_wrapper{
		.apply_information_area{
			padding: 20px;
			.apply_information_block{
				width: 100%;
				.control-label{
					padding: 10px;
				}
			}
		}
	}
}










