.forget_pwd_wrapper{
	.forget_pwd_area{
		width: 100%;
		margin-bottom: 20px;
		padding: 30px;
		background-color: #fff;
		
	}
}

@media screen and (max-width: 768px) {
	.forget_pwd_wrapper{
		.forget_pwd_area{
			padding: 20px;
		}
	}
}










