.profile_wrapper{
	.profile_area{
		width: 100%;
		margin-bottom: 20px;
		padding: 30px;
		background-color: #fff;
		.profile_block{
			.fb_bt{
				width: 200px;
				background-color: #39579a;
				color: #fff;
				text-align: center;
				height: 35px;
				line-height: 25px;
				font-size: 12px;
				padding: 6px;
				margin-right: 15px;
			}
			.profile_bt{
				background-color: $main-orange;
				color: #fff;
				font-size: 12px;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.profile_wrapper{
		.profile_area{
			padding: 20px;
			.profile_block{
				.control-label{
					padding: 10px;
				}
			}
		}
	}
}










