.service_wrapper{
	.service_area{
		background-color: #fff;
		padding: 30px;
		margin-bottom: 20px;
		.service_block{
			position: relative;
			margin-bottom: 20px;
			display: block;
			.service_img{
				width: 100%;
				// height: 400px;
				padding-top: 85%;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
			}
			.service_title{
				width: 100%;
				padding: 10px;
				position: absolute;
				left: 0;
				bottom: 0;
				color: #fff;
				text-align: center;
				background-color: rgba(0,0,0,0.6);
				line-height: 20px;
				font-size: 14px;
			}
			
		}
		
	}
}

@media screen and (max-width: 768px) {
	.service_wrapper{
		.service_area{
			padding: 20px 5px;

		}
	}
}










