.article_wrapper{
	.article_area{
		background-color: #fff;
		padding: 30px;
		margin-bottom: 20px;
		.article_title_area{
			margin-bottom:30px;
			.article_title{
				font-size: 26px;
				font-weight: 700;
				padding: 30px 0 5px;
			}
			.article_content{
				font-size: 14px;
				color:#666;
				.date{
					float: left;
					margin-right:10px;
				}
				.source{
					float: left;
				}
			}
		}
		.article_content_area{
			margin-bottom: 20px;
			img{
				width: 100%;
				margin-bottom: 10px;
			}
			p{
				line-height: 20px;
				margin-bottom:10px;
			}
		}
		.back{
			text-align: center;
			.back_btn{
				background-color: #f6ac39;
				color:#fff;
				padding: 5px 20px;
   				border-radius: 5px;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.article_wrapper{
		.article_area{
			padding: 20px 5px;

		}
	}
}










