.m-r-5{
	margin-right: 5px!important;
}
.m-r-10{
	margin-right: 10px!important;
}
.m-l-5{
	margin-left: 5px!important;
}
.m-b-10{
	margin-bottom: 10px!important;
}
.m-t-10{
	margin-top: 10px!important;
}
.l-h-20{
	line-height: 20px!important;
}
.no-padding{
	padding: 0!important;
}
.no-btn-style{
	border: none;
	border-radius: 0;
	background-color: transparent;
	// padding: 2px 6px;
}
.clearAfter{
	&:after{
		clear: both;
		content: "";
		display: table;
	}
}
.site_wrapper{
	width: 100%;
	background-color: #000;
	position: relative;
	padding-top: 100px;
	min-height: 90%;
	// margin-bottom: -135px;
	background-image: url('../images/main_dark_background.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	&:after{
		content: "";
  		display: block;
  		// height: 135px;
	}
	&.index{
		background-image: none;
	}
}
.page_wrapper{
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0 30px;
}
.page_title_area{
	padding: 20px 0;
	letter-spacing: 1px;
	line-height: 20px;
	.page_title{
		color: $main-orange;
		font-size: 20px;
		margin-right: 10px;
	}
	.page_title_en{
		color: #fff;
		font-size: 12px;
	}
}
.page_banner_area{
	position: relative;
	.image_block{
		width: 100%;
		padding-top: 25%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	.banner_bt_block{
		width: 100%;
	    position: absolute;
	    bottom: 20%;
	    .banner_bt{
			position: relative;
			width: 150px;
			margin: 0 auto;
			text-align: center;
			background-color: $main-orange;
			font-size: 14px;
			border-radius: 5px;
			display: block;
			color: #fff;
			padding: 12px 24px;
		}
	}
	
}


@media screen and (max-width: 768px) {
	.page_wrapper{
		padding: 0 20px;
	}
	.page_banner_area{
		.image_block{
			padding-top: 50%;
		}
	}
}


