.members_wrapper{
	.members_area{
		background-color: #fff;
		padding: 30px;
		margin-bottom: 20px;
		.members_block{
			margin-bottom: 20px;
			.members_block_title{
				font-size: 18px;
				font-weight: bold;
				margin-bottom: 30px;
			}
			.members_width{
				width: 650px;
				margin: 0 auto;
			}
			.members_img_block{
				width: 140px;
				height: 140px;
				margin: 0 auto 20px;
				border-radius: 70px;
				border: 1px solid #f6ac39;
				overflow: hidden;
				.image_circle{
					width: 140px;
					height: 140px;
					background-color: #fff;
					border: 15px solid #fff;
					border-radius: 70px;
					overflow: hidden;
				}
				.members_image{
					background-color: #ececec;
					padding: 15px;
					width: 100%;
					height: 100%;
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center;
				}
			}
			.members_name{
				text-align: center;
				margin-bottom: 20px;
			}
		}
		
	}
}

@media screen and (max-width: 768px) {
	.members_wrapper{
		.members_area{
			padding: 20px;
			.members_block{
				.members_width{
					width: 100%;
				}
			}
		}
	}
}


@media screen and (max-width: 450px) {
	.members_wrapper{
		.members_area{
			.members_block{
				.members_block_title{
					text-align: center;
				}
			}
		}
	}
	.members_block_width{
		width: 100%;
	}

}






