.slick-prev, .slick-next {
	display: none;
}
.slick-dotted.slick-slider{
	margin-bottom: 0;
}
.slider_wrapper{
	position: relative;
	.slider_content{
		position: relative;
		.image_block{
			width: 100%;
			padding-top: 50%;
			// padding-top: 25rem;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
		}
		.slider_block{
			width: 100%;
			position: absolute;
			bottom: 25%;
			.slider_block_inner{
				position: absolute;
				right: 60px;
				bottom: 0;
			}
			.slogan_en{
				font-size: 34px;
				color: #fff;
				text-shadow: 0px 0px 15px #666;
				margin-bottom: 20px;
			}
			.slogan_cn{
				font-size: 18px;
				letter-spacing: 2px;
				margin-bottom: 30px;
			}
			.more_bt{
				width: 250px;
				height: 40px;
				line-height: 40px;
				color: #fff;
				font-size: 14px;
				background-color: $main-orange;
				letter-spacing: 5px;
				text-align: center;
				display: block;
			}
		}
	}
	.slick-dots{
		bottom: 10px;
		li{
			button{
				&:before{
					color: #fff;
					opacity: 1;
				}
			}
			&.slick-active{
				button{
					&:before{
						color: $main-orange;
						opacity: 1;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.slider_wrapper {
		.slider_content {
			.image_block{
				padding-top: 20rem;
			}
			.slider_block{
				width: 100%;
				position: absolute;
				bottom: 20%;
				.slider_block_inner{
					width: 300px;
					position: relative;
					margin: 0 auto;
					right: 0;
					text-align: center;
				}
				.slogan_en{
					font-size: 28px;
				}
				.more_bt{
					margin: 0 auto;
				}
			}
		}
	}
}












